<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>CAPSTONE</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
<body>
  <div id = "app">
    <div class ="holder headline">
    TRAVEL PLANNER
    </div>
    
    <div class ="holder city">
      <label for="city">Enter the city name here:</label>
      <input type="text" id="city" placeholder="Enter The city name">
      <label for="date">Enter the travel's date:</label>
      <input type="date" id="tripDate" placeholder="Enter the travel's date">
    </div>
    
    <div class ="holder feel">
      <button id="generate" type = "submit"> Generate </button>
    </div>
    
    <div id="when"></div>
    <div id ="result"> </div>
  </div>
</body>
</html>