<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CAPSTONE</title>
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="wholeApp">
            <div class="header">
                <div class="mainHeader">Travel planner</div>
                <div class="bottonHeader">My Trips:</div>
            </div>
            <div class="main">
                <div class="mainLeft">
                  <div id="imgFromPixabay" class="image-container"></div>
                  <div> 
                      <input type="button" value="+my notes">
                  </div>
                </div>
                <div class="mainRight">
                    <p>NEXT TRIP - WHERE & WHEN</p>
                    <label> City:
                        <input type="text" id="city" placeholder="Enter The city name">
                    </label> 
                    <label>When:
                        <input type="date" id="tripDate">
                    </label>
                    <button id="generate" type = "submit"> Generate </button>
                </div>
            </div>
            <div class="botton">
                <div id="when">When?</div>
                <div id ="result">Forecast?</div>
            </div>
        </div>
    </body>
</html>