<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CAPSTONE</title>
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700|Bangers|Lobster|Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="wholeApp">
            <div class="header">
                <div class="mainHeader">Travel planner</div>
                <div class="bottonHeader" id="myTrip">My Trip:</div>
            </div>
            <div class="main">
                <div class="mainLeft">
                  <div id="imgFromPixabay" class="image-container"></div>
                  <div class="userNotes"> 
                      <input id="changeImg" type="button" title="See more photos" value="more reasons...">
                  </div>
                </div>
                <div class="mainRight">
                    <p class="rightHeader">MY NEXT TRIP - WHERE & WHEN</p>
                    <div class="inputData">
                      <label> City:
                          <input type="text" id="city" placeholder="Enter The city name">
                      </label> 
                      <label>Check-in:
                          <input type="date" id="tripDate">
                      </label>
                      <label>Check-out:
                        <input type="date" id="backDate">
                      </label>
                      <button id="generate" class="inputBut" type = "submit" title="Time for fun!"> Let's go! </button>
                    </div>
                </div>
            </div>
            <div class="botton">
                <div id="when">When?</div>
                <div id="howLong">How many days?</div>
                <div id ="result">Forecast?</div>
            </div>
        </div>
    </body>
</html>