body {
    font-family: Bangers, Montserrat;
}

label, input, button{
    font-weight: bold;
    border: none;
    font-size: 1em;
}
span{
    font-style: italic;
}
.wholeApp{
    margin: 3px;
    display: grid;
    grid-template-rows: minmax(10vh,1fr) minmax(50vh,3fr) minmax(15vh,1fr);
    grid-template-areas: 
    "header",
    "main",
    "botton"
    ;
}

.main{
    background-color: rgb(238, 157, 142);
    grid-area: "main";
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
    flex-wrap: wrap;
    grid-template-areas: 
    "mainLeft",
    "mainRight";
}

.header{
    padding: 1.5em;
    display: grid;
    grid-template-rows: 90% 10%;
}

.mainHeader{
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.bottonHeader {
    font-family: Montserrat;
    font-weight:bold;
}

.mainLeft{
    grid-area: "mainLeft";
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;  
    gap: 5px;  
}

.image-container {
    width: 100%;
    height: 250px; 
    background-image: url('../media/venice.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.userNotes{

}
.mainRight{
    font-size: 1.2em;
    grid-area: "mainRight";
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content:left;
    gap: 5px; 
}
.rightHeader{
    font-size: 1.2em;
}

.botton{
    font-family: Montserrat;
    font-weight: bold;
    background-color:lightgray;
}

.inputData{
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    align-items: left;
    //align-self: left;
    //justify-content: left;
    gap: 15px;
}

.inputBut{
    align-self: center;
}


@media (min-width: 600px) and (max-width: 1200px){
    .main{
        padding: 5px;
        grid-template-columns: 1fr 1fr;
        gap: 2px;
        flex-wrap: wrap;
        grid-template-areas: 
        "mainTopLeft mainTopRight"
        "mainButtonLeft mainButtonRight";
    }
}

@media (min-width: 1201px) and (max-width: 1200px){
    .main{
        padding: 5px;
        grid-template-columns: 1fr 1fr;
        gap: 2px;
        flex-wrap: wrap;
        grid-template-areas: 
        "mainLeft mainTopRight"
        "mainLeft mainButtonRight";
    }
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: gray; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

}