body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

label, input, button{
    font-weight: bold;
    border: none;
}
.wholeApp{
    margin: 3px;
    display: grid;
    grid-template-rows: minmax(10vh,1fr) minmax(50vh,3fr) minmax(15vh,1fr);
    grid-template-areas: 
    "header",
    "main",
    "botton"
    ;
}

.main{
    background-color: antiquewhite;
    grid-area: "main";
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
    flex-wrap: wrap;
    grid-template-areas: 
    "mainLeft",
    "mainRight";
}

.header{
    padding: 1.5em;
    display: grid;
    grid-template-rows: 90% 10%;
}

.mainHeader{
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.bottonHeader {
    font-weight:bold;
}

.mainLeft{
    grid-area: "mainLeft";
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;  
    gap: 5px;  
}

.image-container {
    width: 100%;
    height: 250px; 
    background-image: url('../media/venice.jpg');
    background-size: cover;
    background-position: center;
}
.mainRight{
    grid-area: "mainRight";
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 5px; 
}

.botton{
    background-color:lightgray;
    padding: 1.5em;
}


@media screen and (min-width: 600px) {
    .main{
        padding: 5px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "mainLeft mainRight";
        gap: 2px;
        flex-wrap: wrap;
    }
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: gray; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

}